.cabeçalho__menu-hamburguer {
    width: 30px;
    height: 36px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--azul-letras);  
    font-family: var(--fonte-padrao);
    text-transform: uppercase;
}

.lista-menu__menu a {
   text-decoration: none !important;
   color: var(--azul-degrade) !important;
   background-clip: text;
}

.container__botao {
    display: none;
}

.cabeçalho li:hover {
    background-color: rgba(245, 245, 245, 0.76);
}